.large-caption {
	font-size: 28px;
}
.small-heading {
	color: #FFA33E;
}
.mission-heading {
	font-size: 24px;
}
.mission-boxes-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.mission-box {
	height: 200px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 15px;
	box-shadow: 3px 3px 5px 2px #d3d3d3;
}
.box-heading {
	font-size: 15px;
	margin-bottom: 8px;
}
.about-page-wrapper {
	margin: 53px 30px 0 30px;
}
@media only screen and (min-width: 768px) {
	.about-page-wrapper {
		margin: 53px 90px 0 90px;
	}
}
@media only screen and (min-width: 1184px) {
	.about-page-wrapper {
		margin: 53px 190px 0 190px;
	}	
}
img {
	margin-bottom: 5px;
}