.opensans-font {
	font-family: 'Open Sans', sans-serif;
}
.mont-font {
	font-family: 'Montserrat', sans-serif;
}
.regular-emphasis {
	font-weight: 400;
}
.medium-emphasis {
	font-weight: 500;
}
.semibold-emphasis {
	font-weight: 600;
}
.bold-emphasis {
	font-weight: 700;
}

.ftsz-14 {
	font-size: 14px;
}
.ftsz-13 {
	font-size: 13px;
}
.ftsz-12 {
	font-size: 12px;
}
.page-wrapper {
	margin: 53px 30px 0 30px;
}
@media only screen and (min-width: 768px) {
	.page-wrapper {
		margin: 53px 90px 0 90px;
	}
}
@media only screen and (min-width: 1184px) {
	.page-wrapper {
		margin: 53px 190px 0 190px;
	}	
}