.mont-font {
	font-family: 'Montserrat', sans-serif; 
	font-weight: 600;
}
.opensans-font {
	font-family: 'Open Sans', sans-serif;
}
.opensans-font-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;	
}
.ftsz-14 {
	font-size: 14px;
}
.home-banner-video {
	position: relative;
	margin-top: 65px;
}

/*----*/
.poster-1 {
	position: absolute;
	left: 60px;
	right: 60px; 
	top: 72%;
	z-index: ;
	box-shadow: -3px 3px 8px 4px #969696; 
}
.mission-wrapper {
	margin-left: 30px;
}
.mission-wrapper-2 {
	margin-left: 30px;
	margin-right: 30px;
}
@media only screen and (min-width: 768px) {
	.poster-1 {
		left: 160px;
		right: 160px;  
	}
}
@media only screen and (min-width: 1184px) {
	.poster-1 {
		left: 260px;
		right: 260px;  
	}
}
.opening-box {
	background-color: #ffc13b;
}
.opening-text {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}
.pm-0 {
	padding: 0;
	margin: 0;
}

.stat-1 {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}
.stat-desc {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.info-bit {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.td-1 {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.stat-container {
	background-color: #fff;
}
@media only screen and (min-width: 768px) {
	.stat-container {
		background-color: #fff; 
		height: 100%;
	}
}
@media only screen and (min-width: 576px) {
	.col-border-left-gray {
		border-left: 1px solid gray;
	}
	.row-border-bottom-gray {
		border-bottom: 1px solid gray;
	}
}
img {
	margin-bottom: 5px;
}
/*---*/
.remaining-wrapper {
	margin-left: 30px;
	margin-right: 30px;
}
.services-or-process {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media only screen and (min-width: 768px) {
	.remaining-wrapper {
		margin-left: 90px;
		margin-right: 90px;
	}	
	.mission-wrapper {
		margin-left: 90px;
	}
	.mission-wrapper-2 {
		margin-left: 30px;
		margin-right: 90px;
	}
}
@media only screen and (min-width: 1184px) {
	.remaining-wrapper {
		margin-left: 190px;
		margin-right: 190px;
	}	
	.mission-wrapper {
		margin-left: 190px;
	}
	.mission-wrapper-2 {
		margin-left: 30px;
		margin-right: 190px;
	}
}

.services-box-shadow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 5px 5px 1px #d3d3d3;
	margin: 20px;
	height: 200px;
	width: 200px;
	padding: 10px;
}
.service-boxes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.process-circles {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.line {
	width: 45px;
	border-top: 1px solid #000;
	margin-top: 25px;
}
.line-down-facing {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.arrow {
	border: solid black;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	margin-top: 13px;
	margin-bottom: 8px;
}
.arrow-left-facing {
	transform: rotate(-45deg);
}
.arrow-down-facing {
	transform: rotate(45deg);
}
.circle-out {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	height: 155px;
	width: 155px;
	background-color: #BEBDB8;
	border: 9px solid #f2f2f2;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #BEBDB8;
}
.circle-out:hover {
	box-shadow: 0 0 0 4px #ffc13b;
}
.circle-desc {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	max-width: 155px;
	margin-top: 3px;
}
.number-circle {
	height: 25px;
	width: 25px;
	background-color: #ffc13b;
	border-radius: 100%;
	margin-bottom: -11px;
}
@media only screen and (min-width: 768px) {
	.process-circles {
		flex-direction: row;
		justify-content: center;
	}
	.arrow {
		margin-top: -20px;
		margin-right: 15px;
		margin-left: -8px;
		margin-bottom: 1px;
	}
	.line {
		margin-top: -20px;
		margin-left: 15px;
		margin-bottom: 1px;
	}
}	
.ul {
	
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
	.info-bit {
		padding: 25px 0;	
	}

}
.mail-form-main-wrap {
	display: flex;
	justify-content: center;
}
.mail-form-main {
	position: relative;
	background-color: #ffc13b;
	width: 250px;
	height: 350px;
}
.mail-form-main:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    border-top: 35px solid white;
    border-right: 45px solid #ffc13b;
    width: 0;
}
.show-form-main {
	display: block;
}
.mform-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mform-main > * {
	min-width: 0;
}

@media only screen and (min-width: 992px) {
	.show-form-main {
		display: none;
	}
}
