/* mobile */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #cacaca;
	background-color: #fff;
	z-index: 1;
}
.nav-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 30px;
}

.nav-ul {
	display: none;
	list-style-type: none;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav-ul > li {
	padding: 0px 11px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #1b2f3f;
}
.nav-ul > li > a {
	text-decoration: none;
}
.nav-ul > li > a:link {
	color: #000;
}
.nav-ul > li > a:visited {
	color: #000;
}
.nav-ul > li > a:hover {
	color: #FFB923;
}
.nav-ul > li > a:active {
	color: #1B2F3F;
	
}
.soc-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1B2F3F;
	text-decoration: none;
	min-height: 52px;
}
.soc-icon:link {
	color: #fff;
}
.soc-icon:visited {
	color: #fff;
}
.soc-icon:hover {
	color: #fff;
}
.soc-icon:active {
	color: #fff;
}
.soc-icon-container {
	display: flex;
	align-items: center;

}	
.s-fb:hover {
	background-color: #1877F2; 
}
.s-yt:hover {
	background-color: #C80808;
}
.s-li:hover {
	background-color: #006097;
}
.nav-ul.show {
	display: flex;
}

.hamburger {
	background-color: transparent;
	outline: none;
	border: 0;
	cursor: pointer;
}
.hamburger:focus {
	border: 0;
}
@media only screen and (min-width: 768px) {
	.nav-contents {
		margin: 0 90px;
		height: 100%;
		flex-wrap: nowrap;
	}
	.nav-ul {
		display: flex;
		height: 100%;
		flex-direction: row;
		align-items: center;
		width: auto;
	}
	.nav-ul > li {
		padding: 0px 10px;
		display: flex;
		align-items: center;
		height: 100%;
	}
	.hamburger {
		display: none;
	}
	nav {
		height: 65px;
	}
}
@media only screen and (min-width: 1184px) {
	.nav-contents {
		margin: 0 190px;
	}
}
p {
	margin-bottom: 5px;
}
/* desktop */
