/* mobile */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #cacaca;
	background-color: #fff;
	z-index: 1;

}
.nav-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 30px;
}

.nav-ul {
	display: none;
	list-style-type: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav-ul > li {
	padding: 0px 11px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #1b2f3f;
}
.nav-ul.show {
	display: flex;
}

.hamburger {
	background-color: transparent;
	outline: none;
	border: 0;
	cursor: pointer;
}
.hamburger:focus {
	border: 0;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: #000;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.soc-icon {
	background-color: #1b2f3f;
}
@media only screen and (min-width: 768px) {
	.nav-contents {
		margin: 0 90px;
	}
	.nav-ul {
		display: flex;
		flex-direction: row;
		width: auto;
	}
	.nav-ul > li {
		padding: 0px 10px;
	}
	.hamburger {
		display: none;
	}
}
@media only screen and (min-width: 1184px) {
	
	
	.nav-contents {
		margin: 0 190px;
	}
}

/* desktop */
