.video-repository {
    font-size: 24px;
    margin-top: 80px;
}
.desc {
    text-align: center;
    padding: 0 14vw;
}
.recording-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    max-width: 1600px;
}

.card {
    list-style: none;
    height: 320px;
    width: 270px;
    margin: 16px;
    box-shadow: 4px 4px 8px 2px rgb(224, 219, 219);
}

.card .detail {
    text-align: left;
}
.detail .calander {
    padding-right: 6px;
    position: relative;
}
.detail .duration {
    float: right;
}
.title {
    color: #FFA33E;
    text-align: left;
    justify-content: center;
    height: 84px;
    overflow: hidden;
}

.footer {
    text-align: left;
    position: relative;
    top: -6px;
}
.footer .save {
    float: right;
    position: relative;
    top: -6px;
}


/* Media Queries  */

@media(max-width:768px) {
    .desc {
        padding: 0;
    }
}
@media(max-width:360px) {
    iframe {
        height: 170px;
        width: 100%;
    }
}