.services-heading {
    font-size: 24px;
    margin-top: 80px;
}
.services-desc {
    padding: 0 14vw;
}
.profile-cards {
    max-width: 1280px;
    margin: 0 auto;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
    padding: 0rem;
}
.card {
    width: 300px;
    height: 320px;
    margin: 14px 14px;
    border: 1px solid rgb(243, 238, 238);
    box-shadow:2px 2px 6px 2px rgb(238, 235, 235);
    text-align: center;
    list-style: none;
    overflow: hidden;
}

.card-pic {
    width: 80px;
    height: 80px;
    margin: 1rem;
}
.rect-pic {
    width: 100px;
    height: 80px;
}
.career-fix {
    margin-left: 0px;
    width: 116px;
    height: 82px;
}
.card-title {
    color: #FFA33E;
    font-size: 1rem;
    margin-bottom: 0px;
}
.card-tagline {
    margin: 0.4rem;
    color: #343536;
    padding: 0 12px;
    font-family: 'Open Sans', sans-serif;
}
.card-info {
    color: #394044;
    line-height: 1.2rem;
    text-align: justify;
    padding: 0 8px;
    height: 76px;
}
.card-container {
    height: 290px;
}
.card-button {
    background-color: #FFC13B;
    height: 44px;
    text-decoration: none;
    color: #000;
    padding-top: 8px;
    font-family: 'Montserrat', sans-serif;
}


.card-link:hover {
    color: #000;
    text-decoration: none;
}
.card-link-arrow {
    padding-left: 0.4rem;
}



@media(max-width:730px) {
    .services-desc {
        padding: 0;
    }
	.card-tagline {
		padding: 0 12px;
	}

}